.btn {
    border-radius: 6px;
    border: 2cap;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 2px 16px;
    margin: 15px;

}
.btn-primary {
    background-color: green;
}

.btn-small {
    font-size: 12px;
    padding: 6px 12px; 
}

.btn-secondary {
    background-color: gray;
}

.btn-lagre {
    font-size: 18px;
    padding: 12px 24px;
}

.btn-danger {
    background-color: brown;
}

.container {
    margin: 20px;
}

.card {
    width: 150px;
    height: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 12px rgb(24, 71, 109);
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.card .username{
    text-transform: uppercase;
    font-weight:  bold;
    color: rgb(52, 9, 151);
    font-size: 1.2em;
    margin-bottom: 10px;
}


.card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
}


.card .description{ 
    color: #1f1b1b;
    font-size: 0.9em;
    height: 60px;
}

